/* Color
-------------------------- */
$--color-secondary: #33A0FF;
$mainTextColor: #333333;

$headerZindex: 1999;
$navZindex: 2000;

$--color-danger: #FA574B;
$--color-success: #2CDB89;
$--color-warning:#FF8D0A;

$--color-text-regular:   #262626;
$--color-text-secondary: #666666;
$--color-text-light: #999999;

$--color-text-gray-lv1:  #DCDEE0;
$--color-text-gray-lv2:  #F4F5F6;
$--color-text-gray-lv3:  #F5F6F7;

$--border-color-base: #F0F0F0;
$--color-text-placeholder: #AAB4C8 !default;
$fontFamily: "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
