@font-face {
  font-family: 'iconfont';
  /* project id 2442738 */
  src: url('//at.alicdn.com/t/font_2442738_derjtgc8iwt.eot');
  src: url('//at.alicdn.com/t/font_2442738_derjtgc8iwt.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2442738_derjtgc8iwt.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2442738_derjtgc8iwt.woff') format('woff'),
    url('//at.alicdn.com/t/font_2442738_derjtgc8iwt.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2442738_derjtgc8iwt.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: currentColor;
}

